# 최근 10년 물가 상승률 (2013 ~ 2023)

### 팀 AWS db 에 접근

In [81]:
import mysql
import mysql.connector

remote = mysql.connector.connect(
    host = 'database-1.cp2kuggswzva.ap-northeast-2.rds.amazonaws.com',
    port = '3306',
    user = 'master',
    password = '0000',
    database = 'edaproject'
)

cur = remote.cursor()

### 테이블 생성

- YEAR : 연도

- RATE : 전년대비 상승률

In [65]:
# 테이블 생성하는 쿼리
create_table_quary = """
CREATE TABLE INFLATION_RATE_YEARLY (
    YEAR INT,
    RATE FLOAT
)"""

cur.execute(create_table_quary)

### 물가 csv 파일 읽어오기

In [71]:
import pandas as pd

df = pd.read_csv('/home/yoon/ws/eda_teamProject/data/inflation_rate_yearly.csv')
df.head()

,지수종류(1),2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,총지수,1.3,1.3,0.7,1.0,1.9,1.5,0.4,0.5,2.5,5.1,3.6
1,생활물가지수,0.7,0.8,-0.2,0.7,2.5,1.6,0.2,0.4,3.2,6.0,3.9
2,신선식품지수,-1.3,-9.3,2.1,6.5,6.2,3.6,-5.1,9.0,6.2,5.4,6.8
3,농산물및석유류제외지수,1.6,2.0,2.2,1.6,1.5,1.2,0.9,0.7,1.8,4.1,4.0
4,식료품및에너지제외지수,1.5,1.7,2.4,1.9,1.5,1.2,0.7,0.4,1.4,3.6,3.4

### cursor 생성

- 읽어올 양이 많으면 burffered = True 설정

In [72]:
cur = remote.cursor(buffered=True)

### 데이터 입력

In [ ]:
# 생활물가지수 데이터만 선택
row_to_insert = df[df['지수종류(1)'] == '총지수'].iloc[0, 1:]  # '지수종류' 컬럼 제외하고 나머지 연도 데이터 선택


# 데이터 삽입
insert_data_query = "INSERT INTO INFLATION_RATE_YEARLY (YEAR, RATE) VALUES (%s, %s)"
for year, rate in row_to_insert.items():
    cur.execute(insert_data_query, (int(year), float(rate)))

# 변경사항 커밋 및 연결 종료
remote.commit()
cur.close()
remote.close()

print("데이터가 성공적으로 삽입되었습니다.")

데이터가 성공적으로 삽입되었습니다.